body {
    margin: 0;
}
.cards {
    border: solid 1px;
    margin: 40px auto;
}
.cards-horizontal-4 {
    width: 400px;
}
.cards-vertical-4 {
    height: 400px;
}
.card {
    cursor: pointer;
    display: block;
    float: left;
    height: 100px;
    perspective: 1000px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    width: 100px;
}
.front,
.back {
    backface-visibility: hidden;
	height: 90px;
    left: 0;
    margin: 5px;
	position: absolute;
	top: 0;
    width: 90px;
}
.front {
    background-color: #ccf;
    line-height: 90px;
    text-align: center;
	transform: rotateY(180deg);
}
.back {
    background-color: #fcc;
	transform: rotateY(0deg);
    z-index: 2;
}
.flipper {
    position: relative;
	transform-style: preserve-3d;
    transition: 0.3s;
}
.card.open .flipper {
    transform: rotateY(180deg);
}
